<div class="page-header-block ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 inverted text-center">
        <h1>
          Hacks and Hackers
          <small>Register your hack and see what other teams are working on!</small>
        </h1>
      </div>
    </div>
  </div>
</div>
<a href=<%= new_hackimoto_hack_path(@hackimoto) %>>Create</a>
<% @hacks.each do |hack| %>
  <div><%= hack.name %></div>
<% end %>