textarea {
  height: 125px;
}
.hero-video-bg .hvb-poster {
  background: #1bcdcf;
}
.hero-video-bg.hvb-short {
  height: 400px;
  padding: 0;
}
.hvb-arrow.hvb-arrow-static {
  top: 24px;
}
.hero-video-bg .hvb-arrow {
  top: 24px ;
}
@media (max-width: 767px) and (min-width: 0) {
  .hero-video-bg .hvb-poster {
    background-position-x: 0;
  }
}
.fixed-bottom-button {
  position: absolute;
  bottom: 36px;
  transform: translate(-50%);
}
.hackimoto-image {
  background-image: url('/images/allseeingimoto.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  margin-top: 16px;
}
.input-fix {
  background-color: transparent;
  border: 0;
  outline: none;
}
.eq-image img {
  border-radius: 50%;
}
.color-transparent {
  color: transparent;
}