<style>
  .eq-image img {
    border-radius: 50%;
  }
</style>
<div class="features-callout">
  <div class="container">
    <div class="accent-line dark"></div>
    <h2 class="fc-header">
      Hackmasters
    </h2>
    <ul class="list-style-none row">
      <% max_lines = @hackimoto.admin_users.length / 3 %>
        <% last_line_num = @hackimoto.admin_users.length % 3 %>
        <% @hackimoto.admin_users.each_with_index do |user, i| %>
          <% if (i + 1) % 3 == 1 %>
            <div class="row">
          <% end %>
          <% if i / 3 == max_lines %>
            <% if last_line_num == 1 %>
              <% class_for_category = "col-sm-12 col-md-offset-4 col-md-4" %>
            <% else %>
              <% class_for_category = "col-sm-12 col-md-offset-2 col-md-4" %>
            <% end %>
          <% else %>
            <% class_for_category = "col-sm-12 col-md-4" %>
          <% end %>
          <li class="<%= class_for_category %>">
            <div data-picture="data-picture" class="fc-image eq-image">
            <img alt="null" src="<%= user.profile_pic %>"></div>
            <h3 class="label h5"><%= user.first_name %> <%= user.last_name %></h3>
          </li>
          <% if (i + 1) % 3 == 0 || @hackimoto.admin_users.length == (i + 1) %>
            </div>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>