<div class="hero-video-bg hvb-short">
  <div class="hvb-poster"></div>
  <div class="container full-height">
    <% if name == "Hackimoto 10" %>
      <div class="hackimoto-image"></div>
    <% else %>
      <div class="row vertical-center-wrap">
        <div class="vertical-center-content">
          <div class="col-sm-12 col-md-offset-1 col-md-10">
            <h1 class="inverted no-margin-bottom"><%= name %>
              <small class="inverted small no-margin-bottom"><%= description %></small>
              <small class="inverted small no-margin-bottom"><%= start_date %></small>
            </h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a href="<%= hackimoto_hacks_path(@hackimoto) %>" class="button button-child-on-color fixed-bottom-button">See the hacks</a>
</div>