<div class="hero-video-bg hvb-short">
  <div class="hvb-poster"></div>
  <div class="container full-height">
  </div>
</div>
<h1>Hackimotos</h1>
<% @hackimotos.each do |hackimoto| %>
  <div>
    <a href=<%= hackimoto_path(hackimoto) %>><%= hackimoto.name %> - <%= hackimoto.start_date.strftime("%B %d, %Y") %></a>
  </div>
<% end %>
<a href=<%= new_hackimoto_path %>>Create</a>